<blockquote>
  <p><%= comment.text %></p>
  <footer><%= comment.user.signature %></footer>
  <div class='text-right'><%= link_to t(:delete), place_comment_path(comment.place, comment), method: :delete %></div>
</blockquote>
