  <div class='jumbotron'>
    <div class='container white'>
      <h1>Farm City!</h1>
      <p>
        <strong>Farm City</strong> to społeczność osób ceniących zdrowie i chcących w świadomy sposób kształtować swoje otoczenie. Uprawa warzyw i owoców w warunkach miejskich jest możliwa! Nie&nbsp;potrzeba wcale wielkich przestrzeni, wystarczy pomysł!
      </p>
      <%= link_to t('.join_us'),new_user_registration_path, class: 'btn btn-success btn-lg white' %>
    </div>
  </div>

  <div class='background fixed-background'>
  </div>

<div class='container'>
  <div class='row well white' id='#about'>
    <div class='col-md-4'>
      <h2>Zostań miejskim ogrodnikiem!</h2>
      <p>
        Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.
      </p>
    </div>
    <div class='col-md-4'>
      <p class='text-center'>Marzy Ci się własna farma w mieście?</p>
      <%= image_tag image_url('farmer_pictogram.png') %>
      <p class='text-center'>Znajdź swój kawałek zieleni!</p>
    </div>
    <div class='col-md-4'>
      <h2>Udostępnij przestrzeń!</h2>
      <p>W miastach istnieją tereny, na których można założyć i uprawiać ogród: miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić..</p>
      <p><strong>Zaproponuj miejsce gdzie można taki ogród założyć! </strong>.</p>
    </div>
  </div>
  <div class='row well white' id='#about'>
    <div class='col-md-4'>
      <%= image_tag image_url('joy_pictogram.png') %>
      <p class='text-center'>Połącz siły z <strong>innymi</strong> użytkownikami</p>
    </div>
    <div class='col-md-4'>
      <h2>Zobacz korzyści</h2>
      <ul>
        <li>Więcej terenów zielonych w Twoim otoczeniu</li>
        <li>Pozytywny wpływ na stan środowiska</li>
        <li>Kontakt z naturą połączony z aktywnym wypoczynkiem</li>
        <li>przełamywanie monotonnej szarości industrialnego krajobrazu</li>
        <li>Zmniejszenie kosztów produkcji, transportu i dystrybucji żywności</li>
      </ul>
    </div>
    <div class='col-md-4'>
      <%= image_tag image_url('teacher_pictogram.png') %>
      <p class='text-center'>Podziel się <strong>doświadczeniem!</strong></p>
    </div>
  </div>

  <div class='row well white text-center'>
    <h2>Jak zacząć?</h2>
    <ul class="list-unstyled">
      <li>znajdź miejsce i ludzi chętnych do współpracy</li>
      <li>zainwestuj w podstawowy sprzęt ogrodniczy</li>
      <li>zdecydujcie o rodzaju uprawy…</li>
    </ul>
    <h3>...i DZIAŁAJCIE!</h3>
  </div>
</div>


<!-- O nas
W miastach istnieją tereny, na których można założyć i uprawiać ogród- miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić. Dołącz do nich!

City Farm to społeczność osób ceniących zdrowie i chcących w świadomy sposób kształtować swoje otoczenie. Uprawa warzyw i owoców w warunkach miejskich jest możliwa! Nie potrzeba wcale wielkich przestrzeni, wystarczy pomysł! Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.

Zakładki
Zostań miejskim ogrodnikiem
> marzy Ci się własna farma w mieście?
>uprawiasz własne warzywa?

Znajdź swój kawałek zieleni
>Połącz się z innymi użytkownikami.
>Podziel się doświadczeniem.

Zaproponuj  miejsce.

Plusy
więcej terenów zielonych w Twoim otoczeniu
dostęp do świeżej żywności, wolnej od pestycydów
pewniejsza jakość uprawianych roślin
pozytywny wpływ na stan środowiska - gleby, powietrza, tworzenie nowych nisz ekologicznych dla zwierząt
racjonalna gospodarka odpadami biologicznymi
wspólnota ludzi znajdujących radość ze wspólnej pasji
kontakt z naturą połączony z aktywnym wypoczynkiem
przełamywanie monotonnej szarości industrialnego krajobrazu
kreatywne tworzenie wspólnej przestrzeni
zmniejszenie kosztów produkcji, transportu i dystrybucji żywności
oszczędność i samowystarczalność
racjonalna gospodarka żywnością

Jak zacząć
znajdź miejsce i ludzi chętnych do współpracy
zainwestujcie w podstawowy sprzęt ogrodniczy
zdecydujcie o rodzaju uprawy…
i...DZIAŁAJCIE!
Dzielcie się sukcesami, poradami...
 -->
