<div class='jumbotron'>
  <div class='container'>
    <h1>Farm City</h1>
    <p>
      Społeczność osób ceniących <strong>zdrowie</strong> i chcących w świadomy sposób kształtować swoje otoczenie. <strong>Uprawa warzyw i owoców w warunkach miejskich</strong> jest możliwa! Nie&nbsp;potrzeba wcale wielkich przestrzeni, wystarczy pomysł!
    </p>
    <%= link_to 'Dołącz do nas!',new_user_registration_path, class: 'btn btn-success btn-lg pull-right' %>
  </div>
</div>

  <div class='row well' id='#about'>
    <div class='col-md-4 text-center'>
      <h2>Zostań miejskim ogrodnikiem!</h2>
      <p>
        Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.
      </p>
    </div>
    <div class='col-md-4 thumbnail'>
      <%= image_tag image_url('pictogram/farmer.png') %>
    </div>
    <div class='col-md-4 text-center'>
      <h2>Udostępnij przestrzeń!</h2>
      <p>W miastach istnieją tereny, na których można założyć i uprawiać ogród: miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić.</p>
      <p><strong>Zaproponuj miejsce gdzie można taki ogród założyć!</strong></p>
    </div>
  </div>

  <div class='row well' id='#about'>
    <div class='col-md-4 thumbnail'>
      <%= image_tag image_url('pictogram/joy.png') %>
    </div>
    <div class='col-md-4'>
      <h2>Zobacz korzyści</h2>
      <ul>
        <li>Więcej terenów zielonych w Twoim otoczeniu</li>
        <li>Pozytywny wpływ na stan środowiska</li>
        <li>Kontakt z naturą połączony z aktywnym wypoczynkiem</li>
        <li>Przełamywanie monotonnej szarości industrialnego krajobrazu</li>
        <li>Zmniejszenie kosztów produkcji, transportu i dystrybucji żywności</li>
        <li>Tworzenie z innymi czegoś dobrego</li>
        <li>Dzielenie się doświadczeniem</li>
      </ul>
    </div>
    <div class='col-md-4 thumbnail'>
      <%= image_tag image_url('pictogram/teacher.png') %>
    </div>
  </div>

  <div class='row well text-center'>
    <h2>Jak zacząć?</h2>
    <ul class="list-unstyled">
      <li>znajdź miejsce i ludzi chętnych do współpracy</li>
      <li>zainwestuj w podstawowy sprzęt ogrodniczy</li>
      <li>zdecydujcie o rodzaju uprawy…</li>
    </ul>
    <strong>...i DZIAŁAJCIE!</strong>
  </div>
<!-- </div> -->


<!-- O nas
W miastach istnieją tereny, na których można założyć i uprawiać ogród- miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić. Dołącz do nich!

City Farm to społeczność osób ceniących zdrowie i chcących w świadomy sposób kształtować swoje otoczenie. Uprawa warzyw i owoców w warunkach miejskich jest możliwa! Nie potrzeba wcale wielkich przestrzeni, wystarczy pomysł! Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.

Zakładki
Zostań miejskim ogrodnikiem
> marzy Ci się własna farma w mieście?
>uprawiasz własne warzywa?

Znajdź swój kawałek zieleni
>Połącz się z innymi użytkownikami.
>Podziel się doświadczeniem.

Zaproponuj  miejsce.

Plusy
więcej terenów zielonych w Twoim otoczeniu
dostęp do świeżej żywności, wolnej od pestycydów
pewniejsza jakość uprawianych roślin
pozytywny wpływ na stan środowiska - gleby, powietrza, tworzenie nowych nisz ekologicznych dla zwierząt
racjonalna gospodarka odpadami biologicznymi
wspólnota ludzi znajdujących radość ze wspólnej pasji
kontakt z naturą połączony z aktywnym wypoczynkiem
przełamywanie monotonnej szarości industrialnego krajobrazu
kreatywne tworzenie wspólnej przestrzeni
zmniejszenie kosztów produkcji, transportu i dystrybucji żywności
oszczędność i samowystarczalność
racjonalna gospodarka żywnością

Jak zacząć
znajdź miejsce i ludzi chętnych do współpracy
zainwestujcie w podstawowy sprzęt ogrodniczy
zdecydujcie o rodzaju uprawy…
i...DZIAŁAJCIE!
Dzielcie się sukcesami, poradami...
 -->
