<div class='container'>
  <div class=text-center>
    <h1>FarmCity</h1>

  </div>
  <div class='row' id='#about'>
    <p>
      W miastach istnieją tereny, na których można założyć i uprawiać ogród: miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić...
    </p>
    <h2><strong>Dołącz do nich!</strong></h2>
    <p>
      <strong>Farm City</strong> to społeczność osób ceniących zdrowie i chcących w świadomy sposób kształtować swoje otoczenie. Uprawa warzyw i owoców w warunkach miejskich jest możliwa! Nie&nbsp;potrzeba wcale wielkich przestrzeni, wystarczy pomysł!
    </p>
    <p>
      Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.
    </p>
  </div>

  <div class='row'>
    <h4 class='pull-left'>Marzy Ci się własna farma w mieście?</h4>
    <h4 class='pull-right'>Uprawiasz własne warzywa?</h4>
    <h2 >Zostań miejskim ogrodnikiem!</h2>
  </div>
  <div class='row'>
    <div class='col-md-12 col-xs-12'>
      <span class='left'><h4>Znajdź swój</strong> kawałek zieleni!</h4></span>
      <span class='center'><h4>Połącz się z <strong>innymi</strong> użytkownikami!</h4></span>
      <span class='right'><h4>Podziel się <strong>doświadczeniem!</strong></h4></span>
      <h4 class='center'> <strong>Zaproponuj miejsce gdzie można taki ogród założyć! </strong><h4>
    </div>
  </div>

  <div class='row'>
    <ul class='col-md-12 col-xs-12'>
      <li>Więcej terenów zielonych w Twoim otoczeniu</li>
      <li>Pozytywny wpływ na stan środowiska</li>
      <li>Kontakt z naturą połączony z aktywnym wypoczynkiem</li>
      <li>przełamywanie monotonnej szarości industrialnego krajobrazu</li>
      <li>Zmniejszenie kosztów produkcji, transportu i dystrybucji żywności</li>
    </ul>
  </div>

  <div class='row'>
    <h2>Jak zacząć?</h2>
    <p>znajdź miejsce i ludzi chętnych do współpracy</p>
    <p>zainwestuj w podstawowy sprzęt ogrodniczy</p>
    <p>zdecydujcie o rodzaju uprawy…</p>
    <h3>...i DZIAŁAJCIE!</h3>
  </div>
</div>


<!-- O nas
W miastach istnieją tereny, na których można założyć i uprawiać ogród- miejskie, spółdzielcze, prywatne. Istnieją także ludzie, którzy chcą takie ogrody prowadzić. Dołącz do nich!

City Farm to społeczność osób ceniących zdrowie i chcących w świadomy sposób kształtować swoje otoczenie. Uprawa warzyw i owoców w warunkach miejskich jest możliwa! Nie potrzeba wcale wielkich przestrzeni, wystarczy pomysł! Fragment skweru przed Twoim blokiem, balkon, parapet okienny, a może nawet przestrzeń na dachu mogą stać się wymarzonym miejscem na ogród warzywny.

Zakładki
Zostań miejskim ogrodnikiem
> marzy Ci się własna farma w mieście?
>uprawiasz własne warzywa?

Znajdź swój kawałek zieleni
>Połącz się z innymi użytkownikami.
>Podziel się doświadczeniem.

Zaproponuj  miejsce.

Plusy
więcej terenów zielonych w Twoim otoczeniu
dostęp do świeżej żywności, wolnej od pestycydów
pewniejsza jakość uprawianych roślin
pozytywny wpływ na stan środowiska - gleby, powietrza, tworzenie nowych nisz ekologicznych dla zwierząt
racjonalna gospodarka odpadami biologicznymi
wspólnota ludzi znajdujących radość ze wspólnej pasji
kontakt z naturą połączony z aktywnym wypoczynkiem
przełamywanie monotonnej szarości industrialnego krajobrazu
kreatywne tworzenie wspólnej przestrzeni
zmniejszenie kosztów produkcji, transportu i dystrybucji żywności
oszczędność i samowystarczalność
racjonalna gospodarka żywnością

Jak zacząć
znajdź miejsce i ludzi chętnych do współpracy
zainwestujcie w podstawowy sprzęt ogrodniczy
zdecydujcie o rodzaju uprawy…
i...DZIAŁAJCIE!
Dzielcie się sukcesami, poradami...
 -->
