<p>
  Nie ma jeszcze ogrodów dostępnych w obserwowanej przez Ciebie okolicy,    daj przykład innym i
  <%= link_to 'dodaj nowe miejsce', new_place_path %> lub
  <%= link_to 'edytuj swoje dane', edit_user_path(current_user) %>.
</p>
