<p>Nie ma jeszcze ogrodów dostępnych w obserwowanej przez Ciebie okolicy,
    daj przykład innym i <%= link_to t('.new_place'), new_place_path %> lub
    <%= link_to t('.edit_user'), edit_user_path(current_user) %>.</p>
