<div class="text-center">
  <h1>Galeria <%= @images.first.place.name %></h1>
</div>
<div>
  <%= link_to 'Powrót do miejsca', place_path(@images.first.place) %>
</div>

<% @images.each_slice(3) do |images| %>
  <div class='row'>
  <%= render images %>
  </div>
<% end %>
