<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body class='home'>
    <%= render 'layouts/header' %>
    <div class='main container'>
      <%= yield %>
    </div>
  </body>
</html>
